<div class="row mb-5">
  <div class="col-12 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3 style="text-align: center; margin-top: 8px;">Add Salon</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="addSalonForm" (ngSubmit)="onSubmit2()">
          <div class="tab-panel">
              <div class="form-group col-12">
                <label>Name<span style="color:red;">*</span> </label>
                <input type="text" class="form-control" formControlName="name">
                <div class="error-block" *ngIf="name.invalid && (nextClicked || name.touched)">
                  Please type your salon's name
                </div>
              </div>

               <div class="form-group col-12">
                 <label>Address<span style="color:red;">*</span></label>
                 <input type="text" class="form-control" formControlName="address">
                 <div class="error-block" *ngIf="address.invalid && (nextClicked || address.touched)">
                   Please type your salon's address
                 </div>
               </div>

               <div class="form-group col-12">
                <label>City<span style="color:red;">*</span></label>
                <input type="text" class="form-control" formControlName="city">
                <div class="error-block" *ngIf="city.invalid && (nextClicked || city.touched)">
                  Please type your salon's city
                </div>
               </div>

               <div class="form-group col-12">
                <label>Profile photo</label>
                <input type="file" accept="image/*" class="form-control" formControlName="image"
                (change)="fileChangeEvent($event)">
                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                [aspectRatio]="4 / 3" resizeToWidth="255" resizeToHeight="255"
                (imageCropped)="imageCropped($event)"></image-cropper>
                <div class="error-block" *ngIf="!image.valid && (nextClicked || image.touched)">
                  Please type your salon's image
                </div>
               </div>
               <div>
                 <h5 *ngIf="croppedImage.length>10">This will be your profile photo</h5>
                 <img src="{{croppedImage}}" style="height: 250px;" />
               </div>



               <div class="form-group col-12">
                <label>Number of employees</label>
                <input type="number" class="form-control" formControlName="employeeNumber">
                <div class="error-block" *ngIf="!employeeNumber.valid && (nextClicked || employeeNumber.touched)">
                  Please type your salon's employee number
                </div>
               </div>

               <div class="form-group col-12">
                <label>Salon's phone number</label>
                <input type="text" class="form-control" formControlName="phoneNumber">
                <div class="error-block" *ngIf="phoneNumber.invalid && (nextClicked || phoneNumber.touched)">
                  Please type your salon's phone number
                </div>
              </div>

              <div class="form-group col-12">
                <label>Email</label>
                <input type="email" class="form-control" formControlName="email">
                <div class="error-block" *ngIf="email.invalid && (nextClicked || email.touched)">
                  Please type your salon's email
                </div>
              </div>


               <div class="form-group col-12 mt-5">
                <button [disabled]="!addSalonForm.valid" type="submit" class="btn btn-primary btn-block">Save</button>
                <button type="reset" class="btn btn-secondary btn-block">Cancel</button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
