<div class="margin"></div>
<div class="card">
  <div class="card-body">
    <a *ngIf="userId == loggedInUserId || (whichRole() == 1 && userProfileRole() == 2)" routerLink="/edit-user/{{userId}}">
      <i class="fas fa-user-edit"></i>
    </a>
    <h1 class="card-title" style="text-align: center;">{{userName}}</h1>
    <hr>
    <h3>Profile Details</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">User name</th>
          <th scope="col">City</th>
          <th scope="col">Age</th>
          <th scope="col">Phone number</th>
          <th scope="col">Role</th>
          <th *ngIf="usersRole() == 2" scope="col">Salon</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user.email}}</td>
          <td class="username">{{user.username}}</td>
          <td>{{user.city}}</td>
          <td>{{user.age}}</td>
          <td *ngIf="user.mobile">{{user.mobile}}</td>
          <td *ngIf="!user.mobile">Not available</td>
          <td *ngIf="usersRole() == 1" style="color:#DAA520; font-weight: 600;">Administrator</td>
          <td *ngIf="usersRole() == 2" style="color:#8B0000; font-weight: 600;">Employee</td>
          <td *ngIf="usersRole() == 3" style="color:#008B8B; font-weight: 600;">Client</td>
          <!-- <td *ngIf="whichRole() == 3" style="text-align: center;">/</td> -->
          <td *ngIf="usersRole() == 2" style="font-weight: 600;">{{name|titlecase}}</td>
          <!-- <td *ngIf="whichRole() == 3">/</td> -->
        </tr>
         </tbody>
    </table>
    <br> <br> <br>
    <h3>Appointments</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th *ngIf="usersRole() == 3" scope="col">Salon</th>
          <th *ngIf="usersRole() == 3" scope="col">Employee</th>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of appointments">
          <td>{{a.appointmentDate | date: "dd/MM/yyyy"}}</td>
          <td>{{a.appointmentTime | date: "shortTime"}}</td>
          <td *ngIf="usersRole() == 3">{{a.salonName}}</td>
          <td *ngIf="usersRole() == 3">{{a.employee.name}}</td>
          <td>{{a.treatment.name}}</td>
          <td>{{a.price}} BAM</td>
          <td *ngIf="usersRole() == 3 && a.newDate >= today" routerLink="/roomlist"><i class="fas fa-comments"></i></td>
        </tr>
         </tbody>
    </table>
   <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
