
#td {
  color: #00BFFF;
  margin-right: 25px;
}


#td-delete{
  color: #CD5C5C;
}

.buttonDelete {
  width: 60px;
}

.mobile {
  width: 150px;
}

.salon {
  width: 130px;
}

button {
  border: none;
  background-color: white;
}
