<div class="row">
  <div class="col-sm-6">
    <div class="card m-auto">
      <div class="card-header" style="color: white;">
        <h3>Add Appointment</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="addAppointmentForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <p>Working hours: {{timeMin}} - {{timeMax}}</p>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" [max]="maxDatee" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
            <div class="error-block" *ngIf="appointmentDate.touched && !appointmentDate.value">
              Please add date for your appointment
            </div>
            <div class="error-block" *ngIf="appointmentDate.value == datum && (sati > 19 || sati < 8)">
              Please add correct date
            </div>
          </div>

          <div class="form-group col-12">
            <label>Choose employee</label>
              <select class="form-control" formControlName="employee">
                <option value="">--Select Employee--</option>
                <option *ngFor="let e of empList" value={{e.id}}>
                 {{e.name}}
                </option>
              </select>
               <div class="error-block" *ngIf="!employeeControl.valid && (employeeControl.touched)">
              Please choose employee
              </div>
            </div>


            <div *ngIf="appointmentDate.value && employeeControl.value" class="form-group col-12">
               <label for="time">Choose time (every appointment is 60 minutes long) </label>
               <input id="appt-time" type="time" value="09:00" class="form-control" formControlName="time" [min]="timeMin" [max]="timeMax" step="3600">
               <span class="validity"></span>
               <div class="error-block" *ngIf="appointmentTime.touched && (appointmentTime.value < timeMin || appointmentTime.value > timeMax)">
                 You cannot choose time outside our working hours
               </div>
               <div class="error-block" *ngIf="appointmentDate.value == datum &&
               appointmentTime.value < theTime">
              Error
              </div>
               <span class="validity"></span>

               <!-- <div *ngIf="dejts.length > 0">
                 <p>Salon's appointments</p>
                 <div *ngFor="let app of dejts">
                   <p>{{app | date:"shortTime"}}</p>
                 </div>
               </div> -->

           </div>

          <div class="form-group col-12">
            <label>Treatment type</label>
              <select class="form-control" formControlName="treatment">
                <option value="">--Select--</option>
                <option *ngFor="let t of treatments" value={{t.treatment.id}}>
                 {{t.treatment.name}} {{t.price}}
                </option>
              </select>

               <div class="error-block" *ngIf="!treatment.valid && treatment.touched">
              Please select treatment
              </div>
            </div>

            <div *ngIf="treatment.value" class="form-group col-12">
              <label>Price</label>
              <div *ngFor="let t of treatments">
                <p *ngIf="treatment.value == t.treatment.id" style="font-style: italic; font-weight: 500;">{{t.price}} BAM</p>
              </div>
            </div>

            <div *ngIf="whichRole() == 2" class="form-group col-12">
              <label>Add client</label>
                <select class="form-control" formControlName="client">
                  <option value="">--Select Client--</option>
                  <option *ngFor="let c of clientList" value={{c.id}}>
                   {{c.name}}
                  </option>
                </select>
              </div>


          <div class="form-group col-12">
            <button [disabled]="!addAppointmentForm.valid" type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6" *ngIf="appointmentDate.value && employeeControl.value">
    <div class="card-header header" style="color: white;">
      <h3>Salon Appointments For This Week</h3>
    </div>
    <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Time</th>
              <th scope="col">Employee</th>
              <th scope="col">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of salonAppointments">
              <td>{{a.appointmentDate | date: "dd/MM/yyyy"}}</td>
              <td>{{a.appointmentTime | date: "shortTime"}}</td>
              <td>{{a.employee.name}}</td>
              <td>{{a.treatment.name}}</td>
            </tr>
             </tbody>
        </table>
      </div>
    </div>
  </div>
