.container-fluid img {
  width: 140px;
  height: 50px;
  border-radius: 50px;
}

.container-fluid img:hover {
  border-radius: 15px;
}

.dropdown-item i{
  margin-right: 5px;
}

.sup {
  padding: 1px 4px;
  border: 1px solid;
  border-radius: 10px;
  color: white;
  background-color: blue;
}
