<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a *ngIf="whichRole() == 1 && loggedIn()" class="navbar-brand" routerLink="/">Admin</a>
    <a *ngIf="whichRole() == 2 && loggedIn()" class="navbar-brand" routerLink="/">Employee</a>
    <a *ngIf="whichRole() == 3 && loggedIn()" class="navbar-brand" routerLink="/">Klijent</a>
    <a *ngIf="!loggedIn()" class="navbar-brand" routerLink="/">Frizerski salon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" aria-current="page" routerLink="/">Lista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="whichRole() == 1 && loggedIn()" routerLinkActive="active" routerLink="/add">Add salon</a>
        </li>
        <button *ngIf="whichRole() == 1 && loggedIn()" routerLink="/admin/add-employee">Add employees</button>
      </ul>

      <div>
        <ul class="nav navbar-nav">
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li *ngIf="!loggedIn()" class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <div *ngIf="loggedIn()" class="dropdown mr-5" dropdown>
            <a href="#" class="dropdown-toggle text-light" dropdownToggle (click)="false">
              Welcome,  {{loggedInUser}}!</a>
            <div class="dropdown-menu" *dropdownMenu>
              <a href="#" class="dropdown-item">
                <i class="fas fa-tachometer-alt"></i>
                View Dashboard
              </a>
              <a href="#" class="dropdown-item">
                <i class="far fa-user-circle"></i>
                My Profile
              </a>
              <a href="#" class="dropdown-item">
                <i class="fas fa-key"></i>Change Password
              </a>
              <a (click)="onLogout()" class="dropdown-item">
                <i class="fas fa-sign-out-alt"></i>Logout
              </a>
            </div>
            </div>
        </ul>
      </div>
    </div>
  </div>
</nav>
