.card {
  min-height: 600px;
}

.card img {
   padding: 10px;
   height: 250px;
}

.card-img-wrapper {
  height: 250px;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}

table th, table td {
  padding: 12px;
  margin-right: 15px;
}

.card-body h1 {
  text-align: center;
  color: black;
}

.borderNumber {
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
}


.buttons button {
  width: 65%;
  padding: 10px 0;
}

.card-footer {
  text-align: center;
}

.card-body hr {
  width: 75px;
    color: black;
    background: black;
    height: 3px;
    border: none; -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

div.card:hover hr {
  width:250px; -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

div.card-body:hover h1 {
  transition: all .2s ease-in;
}

.hr-empList {
  width: 100px;
  float: left;
  height: 3px;
  background-color: royalblue;
}



.hrr {
  width: 250px;
  background-color: black;
  height: 3px;
}

.nums {
  /* border: 1px solid royalblue; */
  /* border-width: 1rem; */
  /* border-radius: 10px; */
  padding: 10px 0;
  width: 90%;
  margin-left: 35px;
}

.brojevi {
  font-style: italic;
  color: #E9967A;
  font-weight: 400;
}

#td {
  color: #00BFFF;
  margin-right: 25px;
}


#td-delete{
  color: #CD5C5C;
  border: none;
  background-color: white;
}

.buttonDelete {
  width: 60px;
}

.line {
  width: 45%;
  margin: auto;
  height: 2.5px;
  background-color: black;
}

.tretman {
  width: 170px;
  background-color: #00BFFF;
  color: white;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  text-align: justify;
  float: left;
  margin-right: 15px;
}

.adminButtons {
  margin-bottom: 7px;
  margin-top: -2px;
}

.noApps {
  text-align: center;
  margin-top: 35px;
}

.mobile {
  width: 150px;
}

.clients button {
  width: 165px;
}

.mobile a:hover {
  text-decoration: none;
}

.clear {
  clear: both;
}

/* button {
  border: none;
  background-color: white;
} */



.numbers {
 text-align: center;
}

.clear {
  clear: both;
}
