<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        <h4 style="text-align: center; margin-top:9px;">Registration Form</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" formControlName="name">
            <span *ngIf="!name.valid && (name.touched || userSubmitted)" class="error-block">
            Please provide name
          </span>
          </div>

          <div class="form-group col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
              <span *ngIf="email.hasError('required')">
                Please provide email
              </span>
              <span *ngIf="email.hasError('email')">
                Please provide valid email
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" formControlName="username">
            <span *ngIf="!username.valid && (username.touched || userSubmitted)" class="error-block">
            Please provide username
          </span>
          </div>

          <div class="form-group col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" formControlName="password">
            <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
              <span *ngIf="password.errors['required']">
                Please provide password
              </span>
              <span *ngIf="password.errors.minlength">
                Password should not be lesser than 8 characters
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <label for="cpassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
            <span *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">
              <span *ngIf="confirmPassword.hasError('required')">
                Please provide password
              </span>
            </span>
            <span *ngIf="registrationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
              Password not matched
              </span>
          </div>

          <div class="form-group col-12">
            <label for="mobile" class="form-label">Phone Number</label>
            <input type="text" class="form-control" formControlName="mobile">
            <!-- <span *ngIf="!mobile.valid && (mobile.touched || userSubmitted)" class="error-block">
              <span *ngIf="mobile.hasError('required')">
                Please provide phone number
              </span>
              <span *ngIf="mobile.hasError('maxlength')" class="error-block">
                Invalid phone number
              </span>
            </span> -->
          </div>

          <div class="form-group col-12">
            <label for="age" class="form-label">Age</label>
            <input type="text" class="form-control" formControlName="age">
            <!-- <span *ngIf="!age.valid && (age.touched || userSubmitted)" class="error-block">
              <span *ngIf="age.hasError('required')">
                Please provide age
              </span>
              <span *ngIf="age.hasError('maxlength')" class="error-block">
                Invalid age number
              </span>
            </span> -->
          </div>

          <div class="form-group col-12">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" formControlName="city">
            <span *ngIf="!city.valid && (city.touched || userSubmitted)" class="error-block">
              <span *ngIf="city.hasError('required')">
                Please provide city
              </span>
              <span *ngIf="city.hasError('minlength')" class="error-block">
                City must have at least two characters
              </span>
            </span>
          </div>

          <div class="form-group col-12">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" class="btn btn-secondary ml-2">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
