<mat-form-field>
  <input placeholder="Search by city" matInput [(ngModel)]="city">
</mat-form-field>
<button type="button" class="searchButton btn btn-outline-primary" (click)="onCityFilter()">
  <i class="fas fa-search"></i>
</button>
<button type="button" class="btn btn-outline-info" (click)="onCityFilterClear()">
  <i class="fas fa-broom"></i>
</button>
<div id="label">
  <mat-form-field>
    <input placeholder="Search by name" matInput [(ngModel)]="name">
  </mat-form-field>
  <button type="button" class="searchButton btn btn-outline-primary" (click)="onNameFilter()">
    <i class="fas fa-search"></i>
  </button>
  <button type="button" class="btn btn-outline-info" (click)="onNameFilterClear()">
    <i class="fas fa-broom"></i>
  </button>
  <div class="clear"></div>
</div>
<br>
<label>Sort by &nbsp;</label>
<select [(ngModel)]="SortbyParam">
  <option value="name">Name</option>
  <option value="city">City</option>
</select>
<button type="button" (click)="onSortDirection()">
  <i *ngIf="sortDirection==='asc'" class="fas fa-sort-alpha-down"></i>
  <i *ngIf="sortDirection==='desc'" class="fas fa-sort-alpha-up"></i>
</button>
<br>
<div class="row">
  <div *ngFor="let salon of salons|filter:searchCity:'city'|filter:searchName:'name'|sort:[SortbyParam, sortDirection]"
  class="col-sm-4 p-3">
    <div class="shadow-lg p-3 mb-4">
      <app-salon-card [salon]="salon"></app-salon-card>
    </div>
  </div>
</div>

