.card {
  min-height: 400px;
}

.card-img-wrapper {
  overflow: hidden;
  position: relative;
}


.card:hover img {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  opacity: .5;
}

.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
}

.card h3 {
  text-align: center;
  color: black;
}

.card h5 {
  text-align: center;
  color: #DAA520; /*medium blue, light sea green*/
}

.card h6 {
  text-align: center;
  color: #4169E1;
}



.hr {
  width: 75px;
  color: black;
  background: black;
  height: 3px;
  border: none; -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-bottom: -10px;
}

div.card:hover hr {
  width:250px; -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.member-icons {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}

button {
  margin-top: 46px;
  height: 50px;
  /* background-color: #1E90FF; */
  background-color: #4169E1;
  color: white;
  font-weight: 600;
}
